POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=cqrs_read

MONGO_URL=mongodb://mongo:27017/cqrs_write
POSTGRES_URL=postgresql://your_user:your_password@cqrs-postgres:5432/cqrs_read
SYNC_INTERVAL_MS=15000
COMMAND_PORT=3001
QUERY_PORT=3002
